<div class="container text-center">
  <h1 class="text-center text-warning">{{titulo}}</h1>

  <!-- Componentes en Angular -->
  <!-- <app-nuevo-componente></app-nuevo-componente> -->
  <!-- <app-componente-en-linea/>  -->
  <!-- <app-interpolacion></app-interpolacion> -->

  <!-- Conceptos Básicos en Angular -->
  <!-- <app-padre></app-padre>  -->
    <!-- Dentro del componente padre esta <app-hijo></app-hijo> -->
  <!-- <app-encapsulamiento-propiedades></app-encapsulamiento-propiedades>  -->
  <!-- <app-event-binding></app-event-binding> -->
  <!-- <app-property-binding></app-property-binding> -->
  <!-- <app-two-way-binding></app-two-way-binding> -->

  
  <!-- <app-componente-if></app-componente-if> -->
  <!-- <app-local-reference></app-local-reference> -->
  <!-- <app-componente-for></app-componente-for> -->
  <!-- <app-tipos-de-get></app-tipos-de-get> -->
</div>