<div class="container text-center">
  <h1 class="text-center text-warning">{{titulo}}</h1>
  <app-padre></app-padre>
  <!-- <app-hijo></app-hijo> -->
  <!-- <app-mostrar-mensaje></app-mostrar-mensaje> -->
  <!-- <app-replicador></app-replicador> -->
  <!-- <app-saludar></app-saludar> -->
  <!-- <app-calculadora></app-calculadora> -->
  <!-- <app-componente-if></app-componente-if> -->
  <!-- <app-local-reference></app-local-reference> -->
   <!-- <app-componente-for></app-componente-for> -->
    <!-- <app-tipos-de-get></app-tipos-de-get> -->
</div>

<!--
<app-nuevo-componente></app-nuevo-componente>

<app-componente-en-linea/> -->

<!-- <app-interpolacion></app-interpolacion> -->